{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Jermaine Maragh web application developer portfolio">
    <meta name="keywords" content="jermainemaragh.dev, Django, Python,">
    <meta name="author" content="Jermaine Maragh">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/index.css' %}">
    <title>Jermaine Maragh</title>
  </head>
  <body>
    {% block content %}{% endblock  %}
    <script src="{% static 'dist/index.js' %}" ></script>
  </body>
</html>